3D3\ Project/x64/**/*.obj
3D3\ Project/x64/**/*.pch
3D3\ Project/x64/**/*.pchast
3D3\ Project/x64/**/*.pdb


*.tlog
*.log
*.idb
*.pdb
*.exe
*.ilk
*.db
*.*~
\.vs
\.git
*.opendb
testbench-master/uml.png

